/* UNIVERSAL STYLES */
html {
  font-size: 16px;
}

body {
  padding: 0;
}

.container {
  padding-left: 1.5rem;
}

.img-container {
height: auto;
}


img {
  width: 100%;
  overflow: hidden;
}

.flex {
  display: flex;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
  margin: 0;
}

/* NAV */

.menu {
  background-color: white;
  padding: 2rem 0;
  display: flex;
}

.logo {
  display: flex;
align-items: center;
flex-grow: 1;
}


.logo-container {
  height: 2rem;
  width: 2rem;
}

.logo-container img {
  width: 100%;
  overflow: hidden;
}


nav {
  align-self: center;
  padding-right: 2rem;
}

nav li {
  display: inline;
  padding-left: 2rem;
}

/* BANNER */

.banner {
  background-color: gray;
}

.banner-media {
  width: 60%;
  overflow: hidden;
  padding: 2rem 1.5rem;
}

.hero {
  margin-left: 1.5rem;
  flex-direction: column;
  justify-content: center;
  width: 25%;
}

.gray {
  background-color: gray;
}

.hero-text {
  padding-bottom: 2rem;
}

.button {
  padding: 0.5rem;
  background-color: black;
  color: white;
  text-align: center;
}

/* INFORMATION */

.banner-media h3 {
    padding: 2rem 0;
}



p.quote {
    margin: 0;
}

span.quote-name {
  font-weight: 600;
  font-size: 0.8rem;
  margin: 2rem 0;
  display: block;
}

.posts-col {
  flex-direction: column;
  margin-top: 1rem;
  width: 40%;
}

.post {
    align-items: center;
    border-left: 1px solid gray;
    border-bottom:1px solid gray;
}

.thumbnail {
  max-width: 35%;
  height: auto;
  overflow: hidden;
  padding: 1rem;
}

.thumbnail img {
  width: 100%;
  overflow: none;
}

.info {
  align-items: center;
}

.post-heading {
  font-weight: bold;
  font-size: 1.2rem;
}

.post a {
  text-decoration: none;
}
