/* UNIVERSAL STYLES */
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v14/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v14/tI4j516nok_GrVf4dhunkg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

body {
  padding: 0;
}

.container {
  padding-left: 1.5rem;
}

.img-container {
height: auto;
}


img {
  width: 100%;
  overflow: hidden;
}

.flex {
  display: flex;
}

h1, h2, h3, span.quote-name, .post-heading {
  font-family: Lato;
  font-weight: 900;
  color: #565454;
}
h2 {
  font-size: 3rem;
  margin: 2rem 0;
}

h3 {
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
}

/* NAV */

.menu {
  background-color: white;
  height: 4rem;
  display: flex;
}

.logo {
  display: flex;
align-items: center;
flex-grow: 1;
}


.logo-container {
  width: 5%;
}

.logo-container img {
  overflow: hidden;
}

span.logo-text {
  display: inline;
  font-size: 1.3rem;
}
 .dark {
   font-weight: 800;
 }

nav {
  display: flex;
  align-items: center;
}

ul {
  align-self: center;
  padding-right: 2rem;
  margin:0;
}

ul li {
  display: inline;
  padding-left: 1rem;
}

ul li:hover {
  color: #D264FD;
}

/* BANNER */

.banner {
  background-color: #fcffc1;
}

.banner-media {
  max-width: 60%;
  overflow: hidden;
  padding: 2rem 1.5rem;
}

.hero {
  margin-left: 1.5rem;
  flex-direction: column;
  justify-content: center;
  width: 25%;
}

.gray {
  background-color: gray;
}

.hero-text {
  padding-bottom: 2rem;
  font-size: 1.2rem;
}

.button {
  padding: 0.7rem;
  background-color: #D264FD;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 2rem;
}

/* INFORMATION */

.banner-media h3 {
    padding: 2rem 0;
}


p.quote {
    margin: 0;
}

span.quote-name {
  font-weight: 600;
  font-size: 0.8rem;
  margin: 2rem 0;
  display: block;
}

.posts-col {
  flex-direction: column;
  margin-top: 1rem;
  width: 40%;
}

.post {
    align-items: center;
    border-left: 2px solid #fcffc1;

}

.thumbnail {
  max-width: 35%;
  height: auto;
  overflow: hidden;
  padding: 1rem;
}

.thumbnail img {
  width: 100%;
  overflow: none;
}

.info {
  align-items: center;
  max-width: 50%;
}

.post-heading {
  font-weight: bold;
  font-size: 1.5rem;
}

.post a {
  text-decoration: none;
}

/* COURSES */

.learning {
  padding: 2rem 3.5rem;
  background-color: #EEc4FF;
}

.learning h3 {
  padding-bottom: 1rem;
}

.allcourses {
  justify-content: center;
}

.learning-col {
  flex-direction: column;
  max-width: 33.333%;

}

.course {
  background-color: white;
  display: block;
  max-width: 100%;
  margin: 1rem;
}

.course-media {
  max-width: 33.33%;
  overflow: hidden;
}


.course img {
  max-width: 100%;
  display: block;
  height: auto;
}

.top-course {
  margin-bottom: 2rem;
}

.course-description {
  padding: 1rem 1rem 2rem 1rem;
  height: 10rem;
}

.course-description:hover {
  background-color:#fcffc1;
}

.course-description p {
  margin: 0;
  padding: 0.5rem 0;
}

/* Exhibit */

#exhibit {
  background-color: white;
}

#exhibit-heading {
  display: block;
  margin: 1.5rem 0 1.5rem 0;
}


.exhibit h3 {
  padding-top: 2rem;
}
video {
  width: 100%;
  overflow: hidden;
}

/* FOOTER */
.footer {
  justify-content: space-between;
  align-items: center;
  background-color: #fcffc1;
}

.container.footer.flex {
  padding-top: 1rem;
  padding-bottom: 3rem;
  border-top:1px solid #fcffc1;
  font-size: 0.8rem;
}


.container.footer.flex span, .termsandprivacy ul li {
  opacity: 0.7;
}
